@using Devq.Conversations.Extensions
@using Orchard.ContentManagement
@{
    var contentItem = (IContent) Model.ContentItem;
}

<a href="@Url.StartConversation(contentItem)" class="primaryAction button">@T("Start a conversation about this item")</a>